{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Protected</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles/styles.css'}">
</head>
<body>
    <div class="container">
        <h2>Protected Page</h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sit repudiandae esse neque distinctio iure eligendi quidem architecto, quisquam consequatur voluptas, quod in quas eius itaque fuga ipsa vel fugiat aut!</p>
        <a href="{% urrl 'home' %}">Home</a>
    </div>
</body>
</html>